<h2>Cart {{cartId}}:</h2>
<hr>
<ul id="productList" class="list-container carts-list-container">
    
</ul>

<hr>
<section class="links">
    <a href="/">Home</a>
</section>
<script>
    const cartId = "{{cartId}}";
</script>
<script src="/js/carts.js"></script>