<h2>{{name}}'s Cart:</h2>
<hr>
<button id="purchase">Finalizar compra</button>
<ul id="productList" class="list-container carts-list-container">
    
</ul>

<hr>
{{>menu}}
<script>
    const cartId = "{{cartId}}";
</script>
<script src="/js/carts.js"></script>