<h2>Chat</h2>
<hr>
<section class="inputs-container">
    <input type="text" id="user" placeholder="Ingrese su correo">
    <input type="text" id="mensaje" placeholder="Ingrese mensaje">
</section>

<div id="mensajes"></div>

{{>menu}}

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/chat.js"></script>