<h2>All products</h2>
<hr>
<ul id="productList" class="list-container">
    
</ul>
<section id="pagination" class="pagination">
    
</section>

<hr>
<section class="links">
    <a href="/realTimeProducts">Real time products</a>
    <a href="/carts/660c533d21c0fc92939380aa">My cart</a>
    <a href="/chat">Chat</a>
</section>
<script src="js/home.js"></script>
