<h2>Bienvenido</h2>
<hr>
{{>menu}}
{{!-- <section class="links">
    <a href="/products">Products</a>
    <a href="/realTimeProducts">Real time products</a>
    <a href="/carts/660c533d21c0fc92939380aa">My cart</a>
    <a href="/chat">Chat</a>
</section> --}}
<script src="js/home.js"></script>
