<h2>All products</h2>
<hr>
<ul id="productList" class="list-container">
    
</ul>
<section id="pagination" class="pagination">
    
</section>

{{>menu}}
<script>
    const cartId = "{{cartId}}";
</script>
<script src="js/products.js"></script>