<h2>All products</h2>
<hr>
<ul id="productList" class="list-container">
    
</ul>
<section id="pagination" class="pagination">
    
</section>

<hr>
<section class="links">
    <a href="/">Home</a>
</section>
<script src="js/products.js"></script>