<h2>Realtime products</h2>
<hr>
<div id="listContainer" class="realtimeproducts-container">
    
</div>

{{>menu}}
<script>
    const cartId = "{{cartId}}";
</script>
<script src="socket.io/socket.io.js"></script>
<script src="js/realTimeProducts.js"></script>