<h2>Realtime products</h2>
<hr>
<div id="listContainer" class="realtimeproducts-container">
    
</div>

<hr>
<section class="links">
    <a href="/">Home</a>
</section>
<script src="socket.io/socket.io.js"></script>
<script src="js/realTimeProducts.js"></script>