<h2>Ingrese su nueva contraseña:</h2>
<hr>
<input type="password" name="password" placeholder="Nueva contraseña" id="password">
<input type="password" name="password" placeholder="Repita la nueva contraseña" id="passwordRepeat">
<br>
<button id="btnAceptar">Aceptar</button>

{{>menu}}

<script src="/js/recoveryReset.js"></script>