<hr>
<section class="menu">
    <ul class="links">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/products">Products</a>
        </li>
        <li>
            <a href="/realTimeProducts">Real time products</a>
        </li>
        {{#if login}}
            <li>
                <a href="/carts">My cart</a>
            </li>
        {{/if}}
        <li>
            <a href="/chat">Chat</a>
        </li>
    </ul>
    <ul class="links-session">
        {{#if login}}
            <li>
                <a href="/profile">Perfil</a>
            </li>
            <li>
                <a href="/api/sessions/logout">Logout</a>
            </li>
        {{else}}
            <li>
                <a href="/login">Login</a>
            </li>
        {{/if}}
    </ul>
</section>