<hr>
<section class="menu">
    <ul class="links">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/products">Products</a>
        </li>
        <li>
            <a href="/realTimeProducts">Real time products</a>
        </li>
        <li>
            <a href="/carts/660c533d21c0fc92939380aa">My cart</a>
        </li>
        <li>
            <a href="/chat">Chat</a>
        </li>
    </ul>
    <ul class="links-session">
        <li>
            <a href="/registro">Registro</a>
        </li>
        <li>
            <a href="/login">Login</a>
        </li>

        <li>
            <a href="/perfil">Perfil</a>
        </li>
        <li>
            <a href="/api/sessions/logout">Logout</a>
        </li>

    </ul>
</section>